.product_img{
    width: 50%;
    height: 100%;
}

.image{
    width: 25rem;
    height: 25rem;
}

.description{
    width: 50%;
    height: fit-content;
    text-align: center;
    position: relative;
}

.label{
    font-size: 18px;
    margin-right: 5px;
    position: absolute;
    left: 0;
    color: blue;
}

.reserv_date{
    width: 250px;
    height: 40px;
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: blue;
    position: absolute;
    right: 0;
}

.form_div{
    width: 400px;
    height: 30px;
    position: relative;
    margin-top: 1rem;
    margin-left: 2rem;
}

.form_btn{
    width: 200px;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 2rem;
    margin-left: 2rem;
}
.form_btn:hover{
    background-color: #338;
    cursor: pointer;
}

.text_desc{
    margin: 20px;
    height: 7rem;
}