/* styles.css */

/* Navigation styles */

.navbarItems {
    margin-top: 10px;
    background-color: #f1f1f1;
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    width: 95%;
    height: 70px;
    border-radius:13px;
    

}

.nav-logo {
    font-size: 10px;
    /* Hide the text */
}

.nav-logo::after {
    content: "INPT";
    /* Set the desired text for the logo */
    display: inline-block;
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin: 0;
    /* Add any additional styling for the logo */
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
    padding: 0 20px 0 0;
    position: relative;
}

.menu li a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu li a.active ,
.menu li a:hover {
    color: rgba(50, 231, 255, 0.8);
}
.menu li a.active::after,
.menu li a:hover::after
{
    content:"";
    width: 30%;
    height:2px;
    background: rgba(50, 231, 255, 0.8);
    position: absolute;
    bottom:-4px;
    left: 0px;


}

/* Additional styling for responsiveness */

@media (max-width: 768px) {
    .navbarItems {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        margin-top: 10px;
    }

    .menu li {
        margin: 0;
        margin-bottom: 10px;
    }
}